@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@400;500&display=swap');

$beautiful-red: #c91e1e;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    place-content: center;
    width: 100%;
    height: 100vh;
    font-family: 'Yantramanav', sans-serif;
    background-color: #c6d8d3;
}

.success{
    display: block;
    position: absolute;
    top: -12rem;
    left: 50%;
    transform: translateX(-50%);

    .lottie-player{
        width: 300px; 
        height: 300px;
    }
}

.card{
    position: relative;
    display: grid;
    padding: 3rem 2rem;
    width: 470px;
    height: 355px;
    place-content: center;
    text-align: center;
    background-color: #fdf0d5;
    border-radius: 1.2rem;

    .camp{
        position: absolute;
        top: -13rem;
        left: 50%;
        transform: translateX(-50%);

        .lottie-player{
            width: 300px; 
            height: 300px;
        }
    }

    h1{
        margin-top: 2rem;
        color: #eb5e55;
        text-transform: capitalize;
        font-size: 2.3rem;
    }

    p{
        color: #372344;
        font-size: 1.6rem;
        text-transform: capitalize;
        border-top: 1px solid #372344;
    }

    .btn{
        display: block;
        margin-top: 5rem;
        text-decoration: none;
        font-size: 1.6rem;
        text-transform: uppercase;
        background-color: #372344;
        color: #fdf0d5;
        padding: 1rem 0;
        border-radius: .7rem;
    }

    .msg{
        text-transform: uppercase;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
    }
}